<!DOCTYPE html>
<html lang="en"   data-nav-layout="horizontal" data-vertical-style="overlay" data-theme-mode="light" >
<head> 
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Sri Amman - <%= title %> </title> 
    <link rel="icon" href="/assets/images/brand-logos/favicon.ico" type="image/x-icon">
    <script src="/assets/js/authentication-main.js"></script>
    <link id="style" href="/assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/assets/css/styles.css" rel="stylesheet" >
    <link href="/assets/css/icons.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="/assets/libs/swiper/swiper-bundle.min.css">
</head>

<body class="bg-white"> 
    <div class="row authentication mx-0">

        <div class="col-xxl-3 col-xl-3 col-lg-12">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-10 col-12">
                    <div class="p-5">
                        <div class="mb-3">
                            <a href=".">
                                <img src="images/logo-w.png" alt="" class="authentication-brand desktop-logo">
                                <img src="images/logo-w.png" alt="" class="authentication-brand desktop-dark">
                            </a>
                        </div>
                        <p class="h5 fw-semibold mb-2">Hey, Hello Admin 👋</p>
                        <p class="mb-3 text-muted op-7 fw-normal">Enter the information you entered while registering.
                        </p>
                         
                        <div class="text-center my-5">                          
                        </div>
                        <form method="post" name="loginAction" id="loginAction" action="/login">
                        <div class="row gy-3">
                            <div class="col-xl-12 mt-0">
                                <label for="signin-username" class="form-label text-default">User Name</label>
                                <input type="text" class="form-control form-control-lg" id="username" name="email" placeholder="user name" value="info@sriamman.com" required>
                            </div>
                            <div class="col-xl-12 mb-3">                                 
                                <div class="input-group">
                                    <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="password" value="1234567890" required>
                                    <button class="btn btn-light" type="button" onclick="createpassword('password',this)" id="button-addon2"><i class="ri-eye-off-line align-middle"></i></button>
                                </div>
                                <div class="mt-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label text-muted fw-normal" for="defaultCheck1">
                                            Remember password ?
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center my-2">                          
                            </div>
                            <div class="col-xl-12 d-grid mt-2">
                                <button class="btn btn-lg btn-primary" type="submit">Sign In</a> 
                            </div>
                        </div>
                         
                    </div>
                </div>
            </div>
        </div> 

        
      <div class="col-xxl-9 col-xl-9 col-lg-9 d-xl-block d-none px-0">
        <div class="authentication-cover">
             
        </div>
      </div>

      

    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script> 
    <script src="assets/libs/swiper/swiper-bundle.min.js"></script>
    <script src="assets/js/authentication.js"></script>
    <script src="assets/js/show-password.js"></script>
 </body>
</html>
