<link rel="stylesheet" href="/assets/libs/filepond/filepond.min.css">
<link rel="stylesheet" href="/assets/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.css">
<link rel="stylesheet" href="/assets/libs/filepond-plugin-image-edit/filepond-plugin-image-edit.min.css">

        <!-- Page Header -->
        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
            <h1 class="page-title fw-semibold fs-18 mb-0">Create Staff</h1>
            <div class="ms-md-1 ms-0">
                <nav>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Staffs</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Create Staff</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Page Header Close -->
 
        <!-- Start::row-1 -->
        <form method="post" id="createstaff">
        <div class="row">
            <div class="col-xxl-12 col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">Staff Information</div>
                    </div>
                    <div class="card-body">
                        <div class="row gy-3 justify-content-between">
                            <div class="col-xxl-4 col-xl-12">
                                <div class="create-nft-item">
                                    <label class="form-label">Staff Photo</label>
                                    <input type="file" class="single-fileupload" name="profilephoto" accept="image/png, image/jpeg">
                                </div>
                            </div>
                            <div class="col-xxl-8 col-xl-12">
                                <div class="row gy-3">
                                    <div class="col-xl-6">
                                        <label  class="form-label">First Name</label>
                                        <input type="text" class="form-control" name="firstname" required>
                                    </div> 
                                    <div class="col-xl-6">
                                        <label  class="form-label">Last Name</label>
                                        <input type="text" class="form-control" name="lastname" required>
                                    </div> 
                                     
                                    <div class="col-xl-6"> 
                                        <label class="form-label d-block">Gender</label>
                                         <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                            <input type="radio" class="btn-check" name="gender" id="strap1" checked value="Male">
                                            <label class="btn btn-sm btn-outline-primary text-default z-0" for="strap1"><i class="ti ti-users fs-15 me-1 align-middle d-inline-block"></i>Male</label>
                                            <input type="radio" class="btn-check" name="gender" id="strap2" value="Female">
                                            <label class="btn btn-sm btn-outline-primary text-default z-0" for="strap2"><i class="ti ti-users fs-15 me-1 align-middle d-inline-block"></i>Female</label> 
                                        </div>
                                    </div>
                                    <div class="col-xl-6"> 
                                        <label  class="form-label">Phone No</label>
                                        <input type="tel" class="form-control" name="phone" maxlength="10" required>
                                    </div>
                                    <div class="col-xl-6"> 
                                        <label  class="form-label">Emergency Contact No</label>
                                        <input type="tel" class="form-control" name="emergencycontact"  maxlength="10" required>
                                    </div>
                                    <div class="col-xl-6"> 
                                        <label  class="form-label">Contact Person</label>
                                        <input type="text" class="form-control" name="contactperson"  maxlength="10" required>
                                    </div>
                                    <div class="col-xl-6"> 
                                        <label  class="form-label">DOB</label>
                                        <div class="input-group">
                                            <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                            <input type="text" class="form-control flatpickr-input active" id="dob" name="dob" placeholder="Choose date" readonly="readonly">
                                        </div>
                                    </div> 
                                    <div class="col-xl-6"> 
                                        <label  class="form-label">Blood Group</label>
                                        <input type="text" class="form-control" name="blood" placeholder="B+" maxlength="4">
                                    </div> 

                                    <div class="col-xl-6"> 
                                        <label  class="form-label">Joined Date</label>
                                        <div class="input-group">
                                            <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                            <input type="text" class="form-control flatpickr-input active" id="joindate" name="joindate" placeholder="Choose date" readonly="readonly">
                                        </div>
                                    </div>  
                                    
                                    <div class="col-xl-6">
                                        <label for="address" class="form-label">Address</label>
                                        <input type="text" class="form-control" name="address" required>
                                    </div>  

                                    <div class="col-xl-6"> 
                                        <label  class="form-label">Email / Username</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="inputGroupPrepend2">@</span>
                                            <input type="email" class="form-control" name="email" aria-describedby="inputGroupPrepend2" required="">
                                        </div>
                                         
                                    </div> 
                                    <div class="col-xl-6"> 
                                        <label  class="form-label">Password</label>
                                        <div class="input-group"> 
                                            <div class="input-group-text"><i class="ri-lock-line"></i></div>
                                            <input type="password" class="form-control" name="password" placeholder="" required>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="row gy-3">
                                    <div class="col-xl-4">
                                     </div>
                                    <div class="col-xl-4">
                                        <label for="nft-creator-name" class="form-label">Driving Licence</label>
                                        <input type="text" class="form-control" name="drivinglicence" >
                                    </div>
                                    <div class="col-xl-4">
                                        <label for="nft-price" class="form-label">Passport No</label>
                                        <input type="text" class="form-control" name="passportno" >
                                    </div>
                                    <div class="col-xl-4">
                                    </div>
                                   
                                    <div class="col-xl-4">
                                        <label for="nft-royality" class="form-label">Role</label>
                                        <select class="form-control form-select" data-trigger name="role" >
                                            <option value="Manager">Manager</option>
                                            <option value="Accountant">Accountant</option>
                                            <option value="Senior-Engineer">Senior Engineer</option>
                                            <option value="Security-Engineer">Security engineer</option> 
                                            <option value="Project-Manager">Project Manager</option> 
                                        </select>
                                    </div>
                                    <div class="col-xl-4">
                                        <label for="nft-property" class="form-label">Account Status</label>
                                        <div class="custom-toggle-switch d-flex align-items-center mb-4">
                                            <input id="toggleswitchPrimary" name="status" type="checkbox">
                                            <label for="toggleswitchPrimary" class="label-primary"></label><span class="ms-3">Active</span>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <input type="hidden" name="profilepic" id="profilepic" value="images/pic.png">
                        <button type="submit" class="btn btn-primary btn-wave waves-effect waves-light">Save</button>
                    </div>
                </div>
            </div> 
        </div>
    </form> 
        <!--End::row-1 -->
        <% script = '<script src="/assets/libs/filepond/filepond.min.js"></script><script src="/assets/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.js"></script><script src="/assets/libs/filepond-plugin-image-exif-orientation/filepond-plugin-image-exif-orientation.min.js"></script><script src="/assets/libs/filepond-plugin-file-validate-size/filepond-plugin-file-validate-size.min.js"></script> <script src="/assets/libs/filepond-plugin-file-encode/filepond-plugin-file-encode.min.js"></script><script src="/assets/libs/filepond-plugin-image-edit/filepond-plugin-image-edit.min.js"></script><script src="/assets/libs/filepond-plugin-file-validate-type/filepond-plugin-file-validate-type.min.js"></script><script src="/assets/libs/filepond-plugin-file-validate-type/filepond-plugin-file-validate-type.min.js"></script><script src="/assets/libs/filepond-plugin-image-crop/filepond-plugin-image-crop.min.js"></script><script src="/assets/libs/filepond-plugin-image-resize/filepond-plugin-image-resize.min.js"></script><script src="/assets/libs/filepond-plugin-image-transform/filepond-plugin-image-transform.min.js"></script><script src="/assets/js/custom-switcher.min.js"></script><script src="/assets/js/nft-create.js"></script></script><script src="/assets/js/staffs.js"></script>' %>

 